.dashboard-body {
	font-size: 14px;
	line-height: 150%;
}

.dashboard-header .description {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	font-weight: 400;
	font-size: 12px;
}

.dashboard-header h2 {
	font-weight: 400;
}

.dashboard-cell h2 {
	font-weight: 600;
	font-size: 16px;
}

.dashboard-cell ol {
	margin-top: 10px !important;
}

.dashboard-cell li {
	line-height: 150%;
}

/******************************
 * Start Collapsible sections *
 ******************************/
.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-size: 14px;
  text-align: left;
  
  padding: 1 em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 1em;
  font-weight: bold;
  color: #000000;
  background: #e1e6eb;

  cursor: pointer;

  border-shadow: none;
  border-bottom: none;
  border-right: 1px solid #fff;
  
  border-radius: 0px;
  /* transition: all 0.25s ease-out; */
}

.lbl-toggle:hover {
  color: #4A4A4A;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: none;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(230, 230, 230, .2);
  border-bottom: 1px solid rgba(230, 230, 230, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
  padding-left: 40px;
}
/****************************
 * End Collapsible sections *
 ****************************/
/*******************************
 * Start Landing Page sections *
 *******************************/
.UseCase {
    display: inline-block;
    width: 480px;
    height: 225px;
    border: solid gray 1px;
    /*margin: 15px;*/
    overflow: hidden;
    clear: both;
    position: relative;
}

.UseCase h2 {
    line-height: 20px;
}

.UseCaseImg {
    width: 150px;
    height: 150px;
    top: 0px;
    position: absolute;
    float: left;
    vertical-align: top;
    margin-top: 15px;
    margin-right: 10px;
    line-height: 150px;
    text-align: center;
}

.UseCaseDescription {
    /*display: block;*/
    position: absolute;
    left: 145px;
    top: 0;
    width: 320px;
    height: 225px;
    overflow: hidden;
}
/*****************************
 * End Landing Page sections *
 *****************************/

/******************
 * Start SPL Help *
 ******************/
#splhelp {
    font-family: monospace;
    border-collapse: collapse;
    width: 100%;
}

#splhelp td, #splhelp th {
    border: 1px solid #ddd;
    padding: 2px;
}

#splhelp tr:nth-child(even){background-color: #f2f2f2;}

#splhelp tr:hover {background-color: #ddd;}

#help {
    color: rgb(145, 175, 39);
}

#splhelp th {
    font-family: normal;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #60be61;
    color: white;
}
/****************
 * End SPL Help *
 ****************/
